{% extends 'main.html' %}
{% block primary %}
<div class="primary col-md-8 col-sm-12 col-xs-12">
	<section class="title section">
		<div class="section-inner">
			<h2 class="paper-title">Structural deep network embedding</h2>
			<div class="content">
				<h4 class="authors">Daixin Wang, Peng Cui, Wenwu Zhu. SIGKDD 2016</h3>
				<p>to find a method that is able to effectively capture the highly non-linear network structure
and preserve the global and local structure, we propose a
Structural Deep Network Embedding method, namely SDNE. More
specifically, we first propose a semi-supervised deep model, which
has multiple layers of non-linear functions, thereby being able to
capture the highly non-linear network structure. Then we propose
to exploit the first-order and second-order proximity jointly to preserve
the network structure. The second-order proximity is used
by the unsupervised component to capture the global network structure.
While the first-order proximity is used as the supervised information
in the supervised component to preserve the local network
structure. By jointly optimizing them in the semi-supervised deep
model, our method can preserve both the local and global network
structure and is robust to sparse networks. </p>
<img alt="" src="static/assets/images/Structural deep network embedding.png" width="60%"/>
			<p>
Empirically, we conduct
the experiments on five real-world networks, including a language
network, a citation network and three social networks. The results
show that compared to the baselines, our method can reconstruct
the original network significantly better and achieves substantial
gains in three applications, i.e. multi-label classification, link prediction
and visualization.</p>
			 </div><!--//content-->
		</div><!--//section-inner-->                 
	</section><!--//section-->
    <section class="dataset section">
		<div class="section-inner">
			<h2 class="heading">Dataset</h2>
			<div class="content">
				</ul>
				<li>
				   <a href="https://snap.stanford.edu/data/ca-GrQc.html">
     				ca-GrQc
    				</a>
				</li>
                <li>
				   <a href="http://socialcomputing.asu.edu/datasets/BlogCatalog3">
     				BlogCatalog
    				</a>
				</li>
                <li>
				   <a href="http://socialcomputing.asu.edu/datasets/Flickr">
     				flick
    				</a>
				</li>
                <li>
				   <a href="http://socialcomputing.asu.edu/datasets/YouTube2">
     				youtube
    				</a>
				</li>
                <li>
				   <a href="http://qwone.com/~jason/20Newsgroups/">
     				20News
    				</a>
				</li>
				</ul>
				
			</div><!--//content-->  
		</div><!--//section-inner-->                 
	</section><!--//section-->
	
	<section class="code section">
		<div class="section-inner">
			<h2 class="heading">Code</h2>
			<div class="content">
				<p>Git repository: <a href="https://github.com/suanrong/SDNE.git">https://github.com/suanrong/SDNE.git</a><p>
			</div><!--//content-->  
		</div><!--//section-inner-->                 
	</section><!--//section-->
	<section class="reference section">
		<div class="section-inner">
			<h2 class="heading">References</h2>
			<div class="content">
				<p>
				   Daixin Wang, Peng Cui, Wenwu Zhu. <a href="http://dl.acm.org/citation.cfm?id=2939753">Structural Deep Network Embedding</a>//Proceeding
KDD '16 Proceedings of the 22nd ACM SIGKDD International Conference on Knowledge Discovery and Data Mining
Pages 1225-1234 
				  </p>
			</div><!--//content-->  
		</div><!--//section-inner-->                 
	</section><!--//section-->
</div><!--//primary-->
{% endblock %}